<head>
  <title>Testes Médicos</title>
  <link rel="stylesheet" href="details.css">
</head>
<body>
  <div class="conteiner-lg">
    <h1>Detalhes do Exame</h1>
    <table id="examInfo">
      <thead>
        <tr>
          <th>Token do Exame</th>
          <th>Data do Exame</th>
          <th>CPF do Paciente</th>
          <th>Nome</th>
          <th>E-mail</th>
          <th>Data de Nascimento</th>
          <th>Endereço</th>
          <th>Cidade</th>
          <th>Estado</th>
        </tr>
      </thead>
      <tbody>
        <tr>
        </tr>
      </tbody>
    </table>
    <div>
      <table id="doctorInfo">
        <thead>
          <tr>
            <th>Médico responsável</th>
            <th>CRM do Médico</th>
            <th>Estado do CRM</th>
          </tr>
        </thead>
        <tbody>
          <tr>
          </tr>
        </tbody>
      </table>
      <table id="testsInfo">
        <thead>
          <tr>
            <th>Tipo de Exame</th>
            <th>Limites</th>
            <th>Resultado</th>
          </tr>
        </thead>
        <tbody>
          <tr>
          </tr>
        </tbody>
      </table>
    <div>
    <script src="details.js"></script>
  </div>
</body>