<head>
  <title>Testes Médicos</title>
  <link rel="stylesheet" href="style.css">
  <link rel="icon" type="image/x-icon" href="/images/logo.svg">
  <meta charset="UTF-8">
</head>
<body>
  <header>
    <nav class="navbar navbar-expand-lg bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="http://localhost:3000/index">
          <img src="images/logo.svg">
          Rebase Labs
        </a>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="http://localhost:3000/index">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="http://localhost:3000/tests">Exames</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="http://localhost:3000/tests/format=json">Exames em JSON</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>

  <div class="conteiner-lg">
    <h1>Testes Médicos</h1>

    <div id="forms">

      <input id="input_import" type="file" name="csv" accept=".csv" onchange="sendPost(event)" hidden>
      <button id="btnimport" onclick="inputFile()">
        <svg xmlns="http://www.w3.org/2000/svg" style="width: 15px;" viewBox="0 0 384 512"><!--! Font Awesome Pro 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M64 0C28.7 0 0 28.7 0 64V448c0 35.3 28.7 64 64 64H320c35.3 0 64-28.7 64-64V160H256c-17.7 0-32-14.3-32-32V0H64zM256 0V128H384L256 0zM160 240c0-8.8 7.2-16 16-16h32c8.8 0 16 7.2 16 16v48h48c8.8 0 16 7.2 16 16v32c0 8.8-7.2 16-16 16H224v48c0 8.8-7.2 16-16 16H176c-8.8 0-16-7.2-16-16V352H112c-8.8 0-16-7.2-16-16V304c0-8.8 7.2-16 16-16h48V240z" fill="#ffffff"/></svg>
        Importar CSV
      </button>

      <form id="search" onsubmit="return false">
        <label for="search">Pesquisar</label>
        <input id="search" type="text" placeholder="Token"></input>
        <button onclick="searchExam()"><svg xmlns="http://www.w3.org/2000/svg" height="1.25em" viewBox="0 0 512 512">
          <!--! Font Awesome Free 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
          <style>svg{fill:#624de3}</style>
          <path d="M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352a144 144 0 1 0 0-288 144 144 0 1 0 0 288z"/></svg></button>
      </form>
    </div>
    
    <table cellpadding="0" cellspacing="0" width="100%">
      <thead>
        <tr>
          <th>Token do Exame</th>
          <th>Data do Exame</th>
          <th>CPF do Paciente</th>
          <th>Nome</th>
          <th>E-mail</th>
          <th>Data de Nascimento</th>
        </tr>
      </thead>
      <tbody id="content">
      </tbody>
    </table>
    <script src="main.js"></script>
  </div>
</body>