<head>
  <title>Testes Médicos</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <div class="conteiner-lg">
    <h1>Testes Médicos</h1>

    <form>
      <label for="search">Pesquisar por Token</label>
      <input id="search" type="text"></input>
    </form>


    <table cellpadding="0" cellspacing="0" width="100%">
      <thead>
        <tr>
          <th>Token do Exame</th>
          <th>Data do Exame</th>
          <th>CPF do Paciente</th>
          <th>Nome</th>
          <th>E-mail</th>
          <th>Data de Nascimento</th>
        </tr>
      </thead>
      <tbody>
        <tr>
        </tr>
      </tbody>
    </table>
    <script src="main.js"></script>
  </div>
</body>