@font-face {
    font-family: 'Montserrat';
    src: url('fonts/Montserrat.ttf')format('truetype');
  }
  
:root{
  --bg-primary: #1D1E42;
  --bg-secundary: #26264F;
  
  --color-text: #FFF;
  --color-secundary: #624DE3;
}

h1{
  padding-top: 15px;
  padding-bottom: 15px;
}

nav div.container-fluid{
  display: flex;
  align-items: center;
  background-color: var(--color-secundary);
  color: var(--color-text);
  padding: 0.5%;
} a {
  all: unset;  
}:hover {
  cursor: pointer;
} 

a.navbar-brand{
  display: flex;
  align-items: center;
  margin-left: 2rem;
  width: 15rem;
  font-size: 1.5rem;
  font-weight: bold;
} img {
  width: 2.5rem;
  margin-right: 5%;
}

.navbar-nav{
  display: flex;
  font-size: 1rem;
  margin: 0;
  padding: 0;
}

.nav-item {
  margin-left: 10px;
  font-size: 1.3rem;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.nav-item:hover{
  background-color: var(--bg-secundary)
}

body header nav div ul{
  list-style-type: none;
}


body{
  background-color: var(--bg-primary);
  font-family: Montserrat;
  margin: 0px;
}

body .conteiner-lg{
  color: var(--color-text);
  text-align: center;
  margin-left: 80px;
  margin-right: 80px;
}

table{
  color: #FFF;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  display: table;
  margin-left: auto; 
  margin-right: auto;
  text-align: center;
  border: 1px;
}

table thead tr th{
  padding: 16px;
}

table tbody tr td{
  padding: 16px;
}

table tbody tr td div svg:hover{
  opacity: 70%;
}

tr:nth-child(odd) {
  background-color: var(--bg-secundary);
}
