@font-face {
  font-family: 'Montserrat';
  src: url('fonts/Montserrat.ttf')format('truetype');
}

:root{
  --bg-primary: #1D1E42;
  --bg-secundary: #26264F;
  
  --color-text: #FFF;
  --color-secundary: #624DE3;
}

body{
  background-color: var(--bg-primary);
  font-family: Montserrat;
  margin: 0px;
}

h1{
  padding-top: 15px;
  padding-bottom: 15px;
}

nav div.container-fluid{
  display: flex;
  align-items: center;
  background-color: var(--color-secundary);
  color: var(--color-text);
  padding: 0.5%;
} a {
  all: unset;  
}

a.navbar-brand{
  display: flex;
  align-items: center;
  margin-left: 2rem;
  width: 15rem;
  font-size: 1.5rem;
  font-weight: bold;
} img {
  width: 2.5rem;
  margin-right: 5%;
}

.navbar-nav{
  display: flex;
  font-size: 1rem;
  margin: 0;
  padding: 0;
}

.nav-item {
  margin-left: 10px;
  font-size: 1.3rem;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.nav-item:hover{
  background-color: var(--bg-secundary);
  cursor: pointer;
}

body header nav div ul{
  list-style-type: none;
}

body .conteiner-lg{
  color: var(--color-text);
  text-align: center;
  margin-left: 80px;
  margin-right: 80px;
}

body div#forms{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  justify-content: space-between;
  margin-bottom: 15px;
}

body div#forms form{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 20px;
  margin-bottom: 0px;
}

body div#forms button#btnimport{
  background: var(--color-secundary);
  font-size: 20px;
  padding: 10px;
  border-radius: 8px;
  color: #FFF;
  border: none;
}

body div#forms button#btnimport:hover{
  cursor: pointer;
}


body  div#forms form input#search{
  max-width: 250px;
  margin: 5px;
  padding: 8px 9px;
  align-items: center;
  gap: 8px;
  flex: 1 0 0;
  border-radius: 8px;
  border: 1px solid var(--color-text);
  background: none;
  color: #FFF;
  font-size: 15px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  position: relative;
}

body  div#forms form input:focus {
  outline: 1px solid var(--color-text);
}

body  div#forms form#search button {
  position: absolute;
  padding: 10px;
  background: none;
  border: none;
  margin-right: 10px;
}

table{
  color: #FFF;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  display: table;
  margin-left: auto; 
  margin-right: auto;
  text-align: center;
}

table thead tr th{
  padding: 30px;
}

table tbody tr td{
  padding: 30px;
}

table tbody tr td div{
  cursor: pointer;
}

table tbody tr td div svg:hover{
  opacity: 70%;
  cursor: pointer;
}

table tbody tr:nth-child(odd) {
  background-color: var(--bg-secundary);
}
